.feed {
  /* background-color: red; */
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);
  min-width: fit-content;
  width: 100%;
}


.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
}

.fyp {
  text-align: center;
  border-bottom: 2px solid lightgray;
  padding: 10px
}

.fyp > span {
  width: auto;
  border-bottom: 8px solid var(--twitter-color);
  /* border-radius: 10px; */
}
