body {
  --twitter-color: #50b7f5;
  --twitter-background: #e6ecf0;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.container {
  /* background-color: red; */
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* padding-right: 1rem;
  padding-left: 1rem; */
}
@media (min-width: 640px) {
  .container {
    max-width: 640px;
    /* padding-right: 1rem;
    padding-left: 1rem; */
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    /* padding-right: 4rem;
    padding-left: 4rem; */
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
    /* padding-right: 5rem;
    padding-left: 5rem; */
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
    /* padding-right: 6rem;
    padding-left: 6rem; */
  }
}

.middle {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
}

.middle::-webkit-scrollbar {
  display: none;
}
